html {
  box-sizing: border-box;
  font-family: 'Bevan', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff
}

.nav {
  background-color: #79756f;
  border: solid;
  border-color: #595652;
  }
}
