html {
  box-sizing: border-box;
  font-family: 'Bevan', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.heading {
  background-color: #79756f;
  border: solid;
  border-color: #595652;
  display: block;
  color: #fff;
}

nav a {
  display: inline-block;
  background-color: #713837;
  text-align: center;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

h1 {
  text-align: center;
}

a:hover {
  display: inline-block;
  background-color: #f33;
}
