html {
  box-sizing: border-box;
  font-family: 'Bevan', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.heading {
  background-color: #79756f;
  border: solid;
  border-color: #595652;
  display: block;
  }
}

.nav li {
  list-style-type: none;
}

h1 {
  font-color: #fff;
}
