html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.heading {
  background-color: #79756f;
  border: solid;
  border-color: #595652;
  display: block;
  color: #fff;
}

nav a {
  display: inline-block;
  background-color: #713837;
  text-align: center;
  text-decoration: none;
  padding: .6em .5em .75em;
  margin: .3em;
  border-radius: .3em;
  color: #fff;
  font-family: sans-serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0;
  margin-top: 0;
}

h1 {
  text-align: center;
  font-family: "Bevan", sans-serif;
  margin-bottom: 0;
}

a:hover {
  display: inline-block;
  background-color: #f33;
}

body {
  margin: 0;
}

span {
  display: block;
  background-color: #dbd6cf;
}
